<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}My Social Media{% endblock %}</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <!-- Add a link to the user's profile page -->
            {% if user.is_authenticated %}
                <li><a href="{% url 'user_profile' user.username %}">My Profile --- {{request.user}}</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
            {% endif %}
        </ul>
    </nav>

    {% block content %}
    {% endblock %}
</body>
</html>
